#mps_latestProjects .mp_latestProjects
{
    background-color: #fff;
    min-height: auto;
    padding: 55px 10px 40px 20px;
}

@media only screen and (min-width: 768px) 
{
    #mps_latestProjects .mp_latestProjects 
    {
        padding: 55px 150px 10px;
    }
}

#mps_latestProjects .mp_latestProjects h3
{
    position: relative;
    text-align: center;
    font-size: 40px;
    min-height: 48px;
}

#mps_latestProjects .mp_latestProjects h3::after
{
    content: "";
    position: absolute;
    background-color: #FFB400;
    display: inline-block;
    width: 50px;
    height: 4px;
    bottom: -25px;
    left: 48%;
}

#mps_latestProjects .mp_latestProjects .projects
{
    margin-top: 40px;
    --bs-gutter-x: 4.2rem;
}

#mps_latestProjects .mp_latestProjects .projects .project
{
    margin-top: 20px;
}

#mps_latestProjects .mp_latestProjects .projects .project .projectContent
{
    border: 1px solid #666666;
    margin-top: 20px;
    padding: 40px 20px 20px 20px;

}

@media only screen and (min-width: 992px) 
{
    #mps_latestProjects .mp_latestProjects .projects .project 
    {
        padding: 0 10px;
    }

    #mps_latestProjects .mp_latestProjects .projects .project .projectContent 
    {
        padding: 40px 10px 20px 10px;
    }
}

@media only screen and (min-width: 1200px)
{
    #mps_latestProjects .mp_latestProjects .projects .project 
    {
        padding: 0 33px;
    }

    #mps_latestProjects .mp_latestProjects .projects .project .projectContent 
    {
        padding: 40px 20px 20px 20px;
    }
}

#mps_latestProjects .mp_latestProjects .projects .project .projectContent h5
{
    font-size: 15px;
    color: #2A2A2A;
    letter-spacing: 10%;

}

#mps_latestProjects .mp_latestProjects .projects .project .projectContent p
{
    font-size: 15px;
    color: #666666;
    letter-spacing: 4%;
    margin-top: 30px;
}

#mps_latestProjects .mp_latestProjects .projects .project .projectContent a 
{
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 10%;
    display: block;
    line-height: 27px;
    text-align: center;
    border: 1px solid #666666;
    color: #666666;
    width: 138px;
    font-size: 11px;
    margin-top: 70px;
}

#mps_latestProjects .mp_latestProjects .buttonWrapper
{
    text-align: center;
}

#mps_latestProjects .mp_latestProjects .buttonWrapper a.viewAll {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    line-height: 47px;
    text-align: center;
    border: 4px solid #2A2A2A;
    border-radius: 5px;
    color: #2A2A2A;
    width: 210px;
    font-size: 18px;
    margin-top: 40px;
    letter-spacing: 10%;
}