#mps_latestProjects .mp_latestProjects
{
    background-color: #fff;
    min-height: auto;
    padding: 55px 10px 40px 20px;
}

@media only screen and (min-width: 768px) 
{
    #mps_latestProjects .mp_latestProjects 
    {
        padding: 55px 150px 10px;
    }
}

#mps_latestProjects .mp_latestProjects h3
{
    position: relative;
    text-align: center;
    font-size: 40px;
    min-height: 48px;
}

#mps_latestProjects .mp_latestProjects h3::after
{
    content: "";
    position: absolute;
    background-color: #FFB400;
    display: inline-block;
    width: 50px;
    height: 4px;
    bottom: -25px;
    left: 48%;
}

#mps_latestProjects .mp_latestProjects .projects
{
    margin-top: 40px;
    --bs-gutter-x: 4.2rem;
}

#mps_latestProjects .mp_latestProjects .buttonWrapper
{
    text-align: center;
}

#mps_latestProjects .mp_latestProjects .buttonWrapper a.viewAll {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    line-height: 47px;
    text-align: center;
    border: 4px solid #2A2A2A;
    border-radius: 5px;
    color: #2A2A2A;
    width: 210px;
    font-size: 18px;
    margin-top: 40px;
    letter-spacing: 10%;
}