#mps_building .mp_building
{
    min-height: 730px;
}

@media only screen and (min-width: 768px) /* 992px */
{
    #mps_building .mp_building 
    {
        margin-top: 40px;
    }
}

#mps_building .mp_building .leftSide
{
    background-color: #2A2A2A;
}

#mps_building .mp_building .leftSide .content
{
    padding: 60px 30px 50px 35px;
    min-height: auto;
}

#mps_building .mp_building .leftSide .content h3
{
    font-size: 40px;
    position: relative;
    color: #fff;
    height: auto;
}

#mps_building .mp_building .leftSide .content h3::after
{
    content: "";
    position: absolute;
    background-color: #FFB400;
    display: inline-block;
    width: 50px;
    height: 4px;
    bottom: -20px;
    left: 0px;
}

#mps_building .mp_building .leftSide .content p
{
    margin-top: 70px;
    font-size: 15px;
    color: #fff;
    letter-spacing: 4%;
    line-height: 27px;
}

#mps_building .mp_building .leftSide .content a 
{
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 10%;
    display: inline-block;
    line-height: 47px;
    text-align: center;
    border: 4px solid #FFB400;
    border-radius: 5px;
    color: #FFB400;
    width: 230px;
    font-size: 18px;
    margin-top: 40px;
}

#mps_building .mp_building .rightSide .rightSideVideo
{
    background-image: url("/public/images/bagervideo.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    min-height: 600px;
}

#mps_building .mp_building .rightSide .panels .leftPanel 
{
    display: inline-block;
    padding: 15px 20px 10px 20px;
    text-align: left;
    background-color: #FFB400;
    color: #000;
    height: 130px;
}

#mps_building .mp_building .rightSide .panels .text
{
    display: block;
    font-size: 30px;
    width: 100%;
}

#mps_building .mp_building .rightSide .panels .number
{
    display: block;
    font-size: 24px;
    letter-spacing: 2%;
    width: 100%;
    margin-top: 5px;
}

#mps_building .mp_building .rightSide .panels .rightPanel
{
    display: inline-block;
    padding-top: 7px;
    text-align: center;
    background-color: #fff;
    height: 130px;
}

#mps_building .mp_building .rightSide .panels .rightPanel a
{
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    line-height: 47px;
    text-align: center;
    border: 4px solid #2A2A2A;
    border-radius: 5px;
    color: #2A2A2A;    
    width: 250px;
    font-size: 16px;
    margin-top: 30px;
    letter-spacing: 10%;
}