#cps_first .cp_first .leftSideWrapper
{
    background: url("/public/images/bager.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

#cps_first .cp_first .leftSide 
{
    padding: 100px 50px 50px 24px;
    height: 100%;
    background-color: #1F1F1F;
    opacity: 85%;
}

#cps_first .cp_first .leftSide h1 
{
    font-size: 40px;
    color: #fff;
    position: relative;
    padding-left: 30px;
}

#cps_first .cp_first .leftSide h1::before 
{
    content: "";
    position: absolute;
    background-color: #FFB400;
    display: inline-block;
    width: 7px;
    height: 1.2em;
    top: 0px;
    left: 0px;
}

@media only screen and (min-width: 768px) 
{
    #cps_first .cp_first .leftSide 
    {
        padding: 100px 50px 50px 60px;
    }

    #cps_first .cp_first .leftSide h1 
    {
        font-size: 64px;
    }
}

@media only screen and (min-width: 992px)
{
    #cps_first .cp_first .leftSide
    {
        padding: 100px 50px 50px 150px;
    }
}

#cps_first .cp_first .leftSide p 
{
    font-size: 22px;
    color: #fff;
}

#cps_first .cp_first .leftSide a 
{
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 10%;
    background-color: #FFB400;
    line-height: 55px;
    width: 230px;
    display: block;    
    font-size: 18px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    opacity: 1;
}

#cps_first .cp_first .rightSide 
{
    padding: 30px 10px 10px 20px;
    background-color: #FFB400;
    min-height: 500px;
}

#cps_first .cp_first .rightSide .servicesWrapper
{
    padding-left: 20px;
    min-height: 110px;
}

#cps_first .cp_first .rightSide h3 
{
    color: #2A2A2A;
    font-size: 32px;
    padding-left: 20px;
    margin-bottom: 40px;
}

#cps_first .cp_first .rightSide h5
{
    color: #2A2A2A;
    font-size: 16px;
}

#cps_first .cp_first .rightSide p
{
    color: #2A2A2A;
    font-size: 15px;
    letter-spacing: 4%;
    line-height: 27px;
}

#cps_first .cp_first .rightSide .socialNetworks
{
	width: 100%;
    padding-left: 22px;
}

#cps_first .cp_first .rightSide .socialNetworks a
{	
	display: inline-block;
	margin: 0 20px 0 0;
	color: #2A2A2A;
	font-size: 18px;
}