#mps_getQuote .mp_getQuote
{
    min-height: 135px;
    background-color: #fff;
}

#mps_getQuote .mp_getQuote .rightSide
{
    text-align: center;
}

#mps_getQuote .mp_getQuote h2 
{
    display: inline-block;
    font-size: 40px;
    line-height: 44px;
    color: #2A2A2A;
    width: 100%;
    text-align: center;
}

#mps_getQuote .mp_getQuote a
{
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 10%;
    display: inline-block;
    line-height: 47px;
    text-align: center;
    border: 4px solid #FFB400;
    border-radius: 5px;
    color: #FFB400;
    background-color: #fff;
    width: 230px;
    font-size: 18px;    
    height: 55px;
}