#mps_latestProjects .mp_latestProjects .projects .project
{
    margin-top: 20px;
}

#mps_latestProjects .mp_latestProjects .projects .project .projectContent
{
    border: 1px solid #666666;
    margin-top: 20px;
    padding: 40px 20px 20px 20px;
}

@media only screen and (min-width: 992px) 
{
    #mps_latestProjects .mp_latestProjects .projects .project 
    {
        padding: 0 10px;
    }

    #mps_latestProjects .mp_latestProjects .projects .project .projectContent 
    {
        padding: 40px 10px 20px 10px;
    }
}

@media only screen and (min-width: 1200px)
{
    #mps_latestProjects .mp_latestProjects .projects .project 
    {
        padding: 0 33px;
    }

    #mps_latestProjects .mp_latestProjects .projects .project .projectContent 
    {
        padding: 40px 20px 20px 20px;
    }
}

#mps_latestProjects .mp_latestProjects .projects .project .projectContent h5
{
    font-size: 15px;
    color: #2A2A2A;
    letter-spacing: 10%;

}

#mps_latestProjects .mp_latestProjects .projects .project .projectContent p
{
    font-size: 15px;
    color: #666666;
    letter-spacing: 4%;
    margin-top: 30px;
}

#mps_latestProjects .mp_latestProjects .projects .project .projectContent a 
{
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 10%;
    display: block;
    line-height: 27px;
    text-align: center;
    border: 1px solid #666666;
    color: #666666;
    width: 138px;
    font-size: 11px;
    margin-top: 70px;
}